.prod {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 2px solid rgb(217, 48, 52); */
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 550px;
  color: white;
  font-family: Georgia, serif;
}
.pic {
  border-radius: 20px;
  position: relative;
  right: 8px;
  padding-top: 3px;
}
.delete-button {
  padding-top: 20px;
}
.information {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.fix {
  padding-top: 15px;
}
.price {
  padding: 40px;
}

.divider {
  height: 2px;
  color: rgb(217, 48, 52);
  background-color: rgb(217, 48, 52);
  border: none;
}
.push {
  position: relative;
  top: 40px;
}
