.header {
  height: 120px;
  background-color: #555659;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}
.logo {
  padding-top: 5px;
}
