.header {
  height: 100px;
  background-color: #a12518;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
}
