.forms {
  height: 520px;
  width: 450px;
  background-color: #555659;
  border-radius: 20px;
}
.formsheader {
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  font-family: Georgia, serif;
}
.forms-button {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  padding-top: 50px;
}

.name {
  width: 175px;
  text-align: center;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
}
.input-title {
  color: white;
  font-family: Georgia, serif;
}
