.App {
  text-align: center;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s2c92fb02c94e873f/backgroundarea/ife9316b1706c010e/version/1472183700/image.jpg);
}

.dash {
  width: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
/* .footer{

} */
